@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply p-2 rounded bg-wa-btn-bg border-wa-border w-11/12 h-10 hover:bg-wa-btn-bg-hover hover:font-bold text-wa-button-text;
  }

  .btn-nav {
    @apply bg-wa-btn-bg hover:bg-wa-btn-bg-hover hover:font-bold text-wa-button-text h-10 w-1/3;
  }
}
